*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Times New Roman","Verdana";
}
body{
  height:120vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:rgb(44, 38, 38);
  color:white;
  /* font-size:5rem; */
}